body {
  background: url(../images/2bg.png) no-repeat center bottom;
  background-size: 100% 100%;
}
.header {
  padding: 2em 0;
}
.header .navbar {
  margin-bottom: 0;
}
.pagebg {
  background-image: linear-gradient(to right, #4633ce, #4532cc);
}
.pagebg .container {
  display: flex;
}
.pagebg .container .left {
  width: 30%;
  margin-right: 10em;
  color: white;
  padding-top: 10em;
}
.pagebg .container .left .title {
  font-size: 2.5em;
  margin-bottom: 1em;
}
.pagebg .container .left .p {
  font-size: 1.1em;
  margin-bottom: 4em;
}
.pagebg .container .left .btngroup .btn {
  background-color: #4532cc;
  border-color: white;
  width: 10em;
  height: 3em;
}
.pagebg .container .left .btngroup .btn:nth-child(1) {
  margin-right: 1.5em;
  background-color: #21d397;
}
.pagebg .container .left .btngroup .btn:nth-child(1):hover {
  background-color: white;
  color: #21d397;
}
.pagebg .container .left .btngroup .btn:nth-child(2):hover {
  background-color: #21d397;
}
.pagebg .container .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 996px) {
  .pagebg .container .right {
    display: none;
  }
  .pagebg .container .left {
    padding-top: 5em;
    margin-left: 2em;
    margin-right: 0em;
    text-align: center;
    width: 100%;
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 463px) {
  .pagebg .container .left .title {
    font-size: 1.2em;
  }
  .pagebg .container .left .p p {
    display: none;
  }
  .pagebg .container .left .btngroup button {
    display: block;
    margin-bottom: 2em;
  }
  .pagebg .container .left .btngroup button:nth-child(1),
  .pagebg .container .left .btngroup button:nth-child(2) {
    width: 100%;
  }
}
.page1 {
  padding-top: 8em;
  padding-bottom: 2em;
  background-color: #0f0240;
}
.page1 .section {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 2em;
}
.page1 .section .title {
  font-size: 2.2em;
  color: white;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
.page1 .section span {
  font-size: 0.9em;
  color: #8781a0;
  display: block;
}
.page1 .side {
  display: flex;
  margin-bottom: 10em;
}
.page1 .side .left {
  width: 50%;
  margin-right: 5em;
}
.page1 .side .left img {
  width: 100%;
  animation: scaled 5s linear;
}
.page1 .side .right {
  width: 50%;
  padding-top: 3em;
}
.page1 .side .right li {
  background-color: #291674;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.3em;
  padding: 1.6em;
}
.page1 .side .right li .number {
  color: #d4beff;
  width: 5em;
  height: 2.5em;
  margin-right: 2em;
  margin-top: 1em;
  border-radius: 50%;
  background-color: #7d62fb;
  text-align: center;
}
.page1 .side .right li .number span {
  line-height: 2.5em;
  display: inline-block;
}
.page1 .side .right li .article .title {
  color: white;
  font-size: 1.2em;
}
.page1 .side .right li .article p {
  color: #8781a0;
  font-size: 0.2em;
}
.page1 .spiral {
  text-align: center;
  margin-bottom: 5em;
}
.page1 .spiral .spiraler {
  display: inline-block;
  animation: rotated 5s linear infinite;
  transition: all 5s linear;
}
.page1 .spiral img {
  animation: rotated 5s linear infinite;
  transition: all 5s linear;
}
@media screen and (max-width: 996px) {
  .page1 .container .side {
    display: block;
  }
  .page1 .container .side .left {
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .page1 .container .side .right {
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .page1 .container .side .right .newlist li .number {
    display: none;
  }
}
@media screen and (max-width: 463px) {
  .page1 .container .section .title {
    font-size: 1.2em;
  }
  .page1 .container .section span {
    display: none;
  }
  .page1 .container .left .title {
    font-size: 1.2em;
  }
  .page1 .container .left .p p {
    display: none;
  }
  .page1 .container .left .btngroup button {
    display: block;
    margin-bottom: 2em;
  }
  .page1 .container .left .btngroup button:nth-child(1),
  .page1 .container .left .btngroup button:nth-child(2) {
    width: 100%;
  }
}
.page2 {
  background-image: linear-gradient(to bottom, #170343, #3c0857);
}
.page2 .article {
  text-align: center;
  margin-bottom: 4em;
  margin-top: 2em;
}
@media screen and (max-width: 463px) {
  .page2 .container .diary .title {
    font-size: 1.2em;
  }
  .page2 .container .diary .p {
    display: none;
  }
}
.page3 {
  background-image: linear-gradient(to bottom, #3c0857, #3c0857);
}
.page3 .icongroup {
  text-align: center;
  margin-bottom: 5em;
  margin-top: 5em;
}
.page3 .icongroup .rotate {
  width: 25%;
  margin-right: 4em;
  margin-bottom: 5em;
  display: inline-block;
}
.page3 .icongroup .rotate .pic {
  margin-bottom: 2.2em;
  animation: rotated 10s linear infinite;
  transition: all 10s linear;
}
.page3 .icongroup .rotate .pic img {
  animation: rotated 10s linear infinite;
  transition: all 10s linear;
}
.page3 .icongroup .rotate .title {
  font-size: 1.2em;
  color: white;
}
.page3 .icongroup .rotate .p {
  font-size: 0.9em;
  color: #8781a0;
  display: block;
  margin-top: 1.5em;
}
@media screen and (max-width: 463px) {
  .page3 .container .diary .title {
    font-size: 1.2em;
  }
  .page3 .container .diary .p {
    display: none;
  }
  .page3 .container .icongroup .rotate {
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }
}
.tran {
  background-image: linear-gradient(to bottom, #3c0857, #0f0240);
}
.page4 {
  background-image: linear-gradient(to bottom, #0f0240, #0f0240);
}
.page4 .diary {
  margin-bottom: 3em;
}
.page4 .main {
  color: white;
  font-size: 0.9em;
}
.page4 .main .left {
  padding-top: 3em;
  width: 40%;
  margin-right: 5em;
}
.page4 .main .left div {
  border-bottom: 1px solid #26054c;
  padding: 1em 0;
  cursor: pointer;
  font-size: 1.3em;
}
.page4 .main .left div label {
  margin-right: 1.1em;
  cursor: pointer;
}
.page4 .main .left div::after {
  content: '您只需对网站资料进行一次性输入，网站即可根据访问者的设备智能地呈现出完美效果，全程无需人工干预不同于其它假响应式品牌，起飞页采用的是真正的响应式引擎。';
  font-size: 0.8em;
  color: #8781a0;
  display: none;
}
.page4 .count {
  margin-top: 10em;
  background: #5a48d8;
  padding: 2em;
  color: white;
}
.page4 .count .container .bggroup {
  padding: 10em  0;
  margin-left: 2px;
}
.page4 .count .container .bggroup .bgfont {
  display: inline-block;
  width: 24%;
}
.page4 .count .container .bggroup .bgfont .number {
  font-size: 2.5em;
}
@media screen and (max-width: 996px) {
  .page4 .container .main .left {
    width: 51%;
    margin: 0 auto;
    float: none;
    margin-bottom: 4em;
  }
  .page4 .container .main .right {
    margin: 0 auto;
    float: none;
  }
}
@media screen and (max-width: 988px) {
  .page4 .container .main .right {
    margin: 0 auto;
    float: none;
  }
  .page4 .container .main .right img {
    padding-left: 22%;
  }
}
@media screen and (max-width: 597px) {
  .page4 .container .main .left {
    width: 80%;
  }
  .page4 .container .main .left div {
    width: 100%;
  }
  .page4 .count .container .bggroup {
    padding: 6em 0;
  }
  .page4 .count .container .bggroup .bgfont {
    display: inline-block;
    width: 48%;
    margin-bottom: 2em;
  }
}
.page5 {
  background-image: linear-gradient(to bottom, #0f0240, #10013f);
}
.page5 .diary {
  text-align: center;
  margin-bottom: 6em;
}
.page5 .picgroup {
  margin-top: 4em;
}
.page5 .picgroup .newlist {
  width: 100%;
}
.page5 .picgroup .newlist .list {
  margin-bottom: 4em;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 2em;
}
.page5 .picgroup .newlist .list .p {
  color: #8781a0;
}
.page5 .picgroup .newlist .list .p p {
  margin-bottom: 2em;
}
.page5 .picgroup .newlist .list .p a {
  color: #42299f;
}
.page5 .more {
  text-align: center;
}
.page5 .more a {
  border: 1px solid #21d397;
  background-color: #21d397;
  color: white;
  font-size: 1em;
  padding: 0.65em 3.8em;
  border-radius: 1.5em;
}
@media screen and (max-width: 996px) {
  .page5 .container .picgroup .newlist .list {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  .page5 .container .picgroup .newlist .list .pic {
    display: block;
    margin-bottom: 4em;
  }
  .page5 .container .picgroup .newlist .list .pic img {
    padding-left: 20%;
  }
  .page5 .container .picgroup .newlist .list .p {
    margin-bottom: 2em;
  }
  .page5 .container .picgroup .newlist .list .p span {
    font-size: 1.5em;
    color: white;
  }
  .page5 .more {
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 463px) {
  .page5 .container .picgroup .newlist .list .p {
    margin-bottom: 2em;
  }
  .page5 .container .picgroup .newlist .list .p span {
    font-size: 1.2em;
    color: white;
  }
  .page5 .more {
    margin-bottom: 4em;
  }
}
.page6 {
  background-color: #10013f;
  width: 100%;
}
.page6 .diary {
  margin-bottom: 7em;
}
.page6 .form {
  padding: 0 5em;
}
.page6 .form form input {
  background-color: #10013f;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 1em;
  margin-bottom: 2em;
  color: white;
  margin-right: 1em;
  width: 43%;
}
.page6 .form form input::placeholder {
  color: white;
}
.page6 .form form input:nth-child(1) {
  margin-left: 4em;
}
.page6 .form form input:nth-child(3) {
  margin-left: 4em;
  width: 87.5%;
}
.page6 .form form input:nth-child(4) {
  margin-left: 4em;
  width: 87.5%;
}
.page6 .form form .btn {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 7em;
}
.page6 .form form .btn button {
  color: white;
  background: #7350fe;
  width: 10em;
  height: 5em;
  border-radius: 18%;
  margin: 0 auto;
}
@media screen and (max-width: 997px) {
  .page6 .container form {
    margin-left: 0;
  }
  .page6 .container form input {
    padding-left: 0;
    width: 100%;
  }
  .page6 .container form input:nth-child(1) {
    width: 87%;
  }
  .page6 .container form input:nth-child(2) {
    margin-left: 4em;
    width: 87%;
  }
}
@media screen and (max-width: 520px) {
  .page6 .container form input:nth-child(1) {
    margin-left: 1.5em;
  }
  .page6 .container form input:nth-child(2) {
    margin-left: 1.5em;
  }
  .page6 .container form input:nth-child(3) {
    margin-left: 1.5em;
  }
  .page6 .container form input:nth-child(4) {
    margin-left: 1.5em;
  }
}
.footer {
  background-color: #192057;
  padding: 6em 0;
}
.footer .container {
  color: white;
  display: flex;
  flex-flow: wrap;
}
.footer .container .left {
  width: 40%;
  margin-right: 4em;
}
.footer .container .left div:nth-child(1) {
  margin-bottom: 1.2em;
}
.footer .container .left span {
  font-size: 0.9em;
}
.footer .container .central {
  width: 10%;
  margin-right: 4em;
}
.footer .container .central span {
  display: block;
  font-size: 1.1em;
  color: #8781a0;
  margin-bottom: 1.2em;
}
.footer .container .central span:nth-child(1) {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0.6em;
}
.footer .container .middle {
  width: 15%;
  margin-right: 4em;
}
.footer .container .middle span {
  font-size: 0.9em;
  color: #8781a0;
  display: block;
  margin-bottom: 0.4em;
}
.footer .container .middle span:first-child {
  font-size: 1.2em;
  color: white;
  margin-bottom: 0.8em;
}
.footer .container .middle span:nth-child(2) {
  margin-bottom: 1.5em;
}
.footer .container .right {
  text-align: center;
  width: 20%;
}
.footer .container .right span {
  font-size: 0.9em;
  display: block;
  color: white;
  margin-bottom: 0.6em;
}
.footer .container .right span:last-child {
  margin-bottom: 0em;
}
.footer .container .right .img {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 992px) {
  .footer .container {
    text-align: center;
  }
  .footer .container .left,
  .footer .container .central,
  .footer .container .middle,
  .footer .container .right {
    flex-basis: 100%;
    margin-bottom: 4em;
    margin-right: 0;
  }
}
.totalC {
  text-align: center;
}
.totalC .totalc {
  margin-top: 8em;
}
.totalC .totalc .circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-right: 0.1em;
  display: inline-block;
}
.totalC .totalc .circle:last-child {
  margin-right: 0;
}
.totalC .totalc .blue {
  background-color: #00A8FF;
}
.totalC .totalc .purple {
  background-color: #9C88FF;
}
.totalC .totalc .yellow {
  background-color: #fBC531;
}
.totalC .totalc .green {
  background-color: #4CD137;
}
.totalC .totalc .darkblue {
  background-color: #487EB0;
}
.totalC .totalc .red {
  background-color: #E84118;
}
.totalC .totalc .darkpurple {
  background-color: #8C7AE6;
}
.diary {
  text-align: center;
  margin-bottom: 2em;
}
.diary .title {
  font-size: 2.2em;
  color: white;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}
.diary span {
  font-size: 0.9em;
  color: #8781a0;
  display: block;
}
@keyframes rotated {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaled {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.main .container .article {
  margin-bottom: 5em;
}
.main .container .article .ptop {
  white-space: pre-line;
}
.main .container .article .ptop p {
  color: white;
}
.main .container .article .pic {
  width: 100%;
  color: white;
  margin: 0 auto;
  width: 80%;
  height: 40%;
  text-align: center;
  margin-bottom: 4em;
}
.main .container .article .pic img {
  width: 100%;
}
.main .container .article .pic span {
  display: inline-block;
  margin: 0 auto;
}
.main .container .article .pbot p {
  white-space: pre-line;
  color: white;
}
@media screen and (max-width: 600px) {
  .main .article .ptop p {
    font-size: 0.9em;
  }
  .main .article .pbot p {
    font-size: 0.9em;
  }
}
.main .footer {
  background-color: #192057;
  padding: 6em 0;
}
.main .footer .container {
  color: white;
  display: flex;
  flex-flow: wrap;
}
.main .footer .container .left {
  width: 40%;
  margin-right: 4em;
}
.main .footer .container .left div:nth-child(1) {
  margin-bottom: 1.2em;
}
.main .footer .container .left span {
  font-size: 0.9em;
}
.main .footer .container .central {
  width: 10%;
  margin-right: 4em;
}
.main .footer .container .central span {
  display: block;
  font-size: 1.1em;
  color: #8781a0;
  margin-bottom: 1.2em;
}
.main .footer .container .central span:nth-child(1) {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0.6em;
}
.main .footer .container .middle {
  width: 15%;
  margin-right: 4em;
}
.main .footer .container .middle span {
  font-size: 0.9em;
  color: #8781a0;
  display: block;
  margin-bottom: 0.4em;
}
.main .footer .container .middle span:first-child {
  font-size: 1.2em;
  color: white;
  margin-bottom: 0.8em;
}
.main .footer .container .middle span:nth-child(2) {
  margin-bottom: 1.5em;
}
.main .footer .container .right {
  text-align: center;
  width: 20%;
}
.main .footer .container .right span {
  font-size: 0.9em;
  display: block;
  color: white;
  margin-bottom: 0.6em;
}
.main .footer .container .right span:last-child {
  margin-bottom: 0em;
}
.main .footer .container .right .img {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 992px) {
  .main .footer .container {
    text-align: center;
  }
  .main .footer .container .left,
  .main .footer .container .central,
  .main .footer .container .middle,
  .main .footer .container .right {
    flex-basis: 100%;
    margin-bottom: 4em;
    margin-right: 0;
  }
}
